---
import BaseHead from "@component:astro/BaseHead.astro";
import Header from "@component:astro/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@@";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="/assets/css/blog.css" />
	</head>
	<body xmlns="http://www.w3.org/2000/svg">
		<Header title={SITE_TITLE} />
		<main>
			<section class="Index_section">
				<div class="Site_description">
					<h1>{SITE_TITLE}</h1>
				<p>{SITE_DESCRIPTION}</p>
				</div>
				<div class="Site_logo">
					<p></p>
				</div>
			</section>
		</main>
	</body>
</html>
