---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<link rel="stylesheet" href="https://barabariproject.org/css/atoms.css" />
		<link rel="stylesheet" href="/assets/css/blog.css" />
	</head>

	<body xmlns="http://www.w3.org/2000/svg">
		<Header />
		<main class="Blog_Post_main">
			<article>
				<div class="Blog_Head">
					<h1>{title}</h1>
					<div class="p10 m10">
						<FDate date={pubDate} />
						{
							updatedDate && (
								<i style="font-style: italic;">
									, Last updated: <FDate date={updatedDate} />
								</i>
							)
						}
					</div>
					<div class="Hero_img">
						<img src={heroImage} alt="" />
					</div>
				</div>
				
				<br />
				<slot />
			</article>
		</main>
	</body>
</html>
